.answer {
  background-image: linear-gradient(to right top, #23263b, #454860, #6a6e88, #9296b2, #bbc0de);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0px;
  color: white;
}
