<div class="input-group">
  <input type="text" class="form-control" placeholder="Ask me anything!" data-tf-target="questionInput">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button"  data-action="click->tf#getAnswer"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>
