
<% if @articles_found %>
  <div class="sources-found">
    <p>Yay! We found <%= pluralize(@articles_found.keys.length, 'source') %> on <%= @topic %>. <%= "Please select one." if @articles_found.keys.length > 1 %></p>
    <% @articles_found.each do |source, article| %>
      <%= link_to source, articles_path(article: article), method: 'post' %>
    <% end %>
  </div>
<% end %>
