
<% if @articles_found %>
  <div class="sources-found">
    <p>Yay! We found <%= pluralize(@articles_found.keys.length, 'source') %> about your subject. <%= "lease select one." if @articles_found.keys.length > 0 %></p>
    <% @articles_found.each do |source, article| %>
      <%= link_to source, articles_path(article: article), method: 'post' %>
    <% end %>
  </div>
<% end %>
