.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #22263B;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #161a2d;
  color: white;
}

.query-btn {
  background: $medium-blue;
  border-radius: 0 8px 8px 0;
  color: white;
  font-weight: bold;
  padding: 0 25px;
}
